<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('partials/header.ejs');%>
  <body>
    <%- include ('partials/navbar.ejs');%>
    <div class="container text-light custom-spacing-asking-container">
      <h2>RESPONDER PERGUNTAS</h2>
      <div>
        <% questions.forEach(question => { %>
        <hr class="bg-light" />
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h3 class="text-dark"><%= question.title %></h3>
          </div>
          <div class="card-footer">
            <a href="/question/<%= question.id%>"><button class="btn btn-info" >Responder</button></a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
  <%- include ('partials/scripts.ejs');%>
</html>
